aws_region    = "ap-south-1"
app_name      = "karmana"
environment   = "prod"
db_name       = "karmana"
db_username   = "karmana"
db_password   = "ytuer#3458uyt"
jwt_secret    = "Dytdqk/hgteswe5OaFsaDpLlGgxbmQJznu6jiXNOQvtjFDDhNu2W8wC2j5Yk3WB07"
key_pair_name = "karmana-key"
api_url = "http://108.130.179.26:8080/api"
app_public_ip = "108.130.179.26"
db_host = "localhost"
